/*! $Id: form.css 84964 2020-03-27 09:37:17Z sseiz $ original file from:  Widgets/formular */

/***** FORM ANTI SPAM *****/
.asfield {
	display: none;
}

/***** FORM GLOBAL DEFAULTS *****/
.zp-form input {
	max-width: 100%;
}

.zp-form .separator {
	margin: 10px 0;
	padding: 0;
	line-height: 1px;
	height: 1px;
	border-bottom: 1px solid;
	box-sizing: border-box;
	width: 100%;
}

.zp-form .asfield{display: none;}
.zp-form input.typetext, .zp-form input[type="text"], .zp-form input[type="number"], .zp-form input[type="email"], .zp-form input[type="tel"], .zp-form input[type="url"], .zp-form input[type="date"], .zp-form input[type="time"], .zp-form input[type="color"], .zp-form input[type="search"], .zp-form textarea{
	font-family: inherit;
	font-size: inherit;
	color: #333333;
	background: #ffffff;
	padding: 6px 8px;
	border: 1px solid #9A9A9A;
	border: 1px solid rgba(0,0,0,0.4);
	max-width: 100%;
	
	box-sizing: border-box;
	height: auto;
}
.zp-form input[type="date"]{
	-webkit-appearance: none;
}

.zp-form select{
	padding: 6px 5px;
	border: 1px solid #9A9A9A;
	border: 1px solid rgba(0,0,0,0.4);
}

.zp-form ::-webkit-input-placeholder{
	opacity:  1;
	color: rgba(0,0,0,0.4);
}
.zp-form :-moz-placeholder{
	opacity:  1;
	color: rgba(0,0,0,0.4);
}
.zp-form ::-moz-placeholder{
	opacity:  1;
	color: rgba(0,0,0,0.4);
}
.zp-form :-ms-input-placeholder{
	opacity:  1;
	color: rgba(0,0,0,0.4);
}
/* fix a specificity issue with IE 11(-) which would otherwise apply the text-color fromthe rule in line 8 */
.zp-form input.typetext:-ms-input-placeholder{ 
	opacity:  1;
	color: rgba(0,0,0,0.4);
}

.zp-form select{
	font-family: inherit;
	font-size: inherit;
	color: #333333;
}
.zp-form label {
	font-family: inherit;
	font-size: inherit;
	padding: 3px 10px 3px 0;
}
.zp-form label.field{
	display: block;
	margin-top: 10px;
	margin-bottom: 4px;
	padding: 0;
}
.zp-form input[type="submit"],
.zp-form input[type="reset"]{
	font-family: inherit;
	font-size: inherit;
	display: inline-block;
	margin-top: 20px;
}
.zp-form input[type="reset"].button,
.zp-form input[type="reset"].button:hover{
	float: right;
	border: 1px solid #666666 !important;
	color: #666666 !important;
	background: transparent !important;
	background-color: #fafafa !important;
}
.zp-form input[type="reset"].button:hover{
	background-color: #ececec;
}
.zp-form:not(.zp14) div.recaptchawrapper{
	float: left; /* gains layout */
	margin-top: 10px;
	margin-left:  15px;
	margin-right: 15px;
}
.zp-form:not(.zp14) .recaptchatable{
	background-color: #fff
}
.zp-form .recaptchatable #recaptcha_image, 
.zp-form #recaptcha_area img{
	border: 0 !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border-radius: 0 !important;
}


/* *** BEGIN Form-Editor *** */
form.zp-form.zp-editable{
	min-width: 100%; 
	max-width: calc(100% + 30px);
	margin-left:  -15px;
	margin-right: -15px;
}
form.zp-form.zp-editable div.formvalidateerror{
	margin-left: 15px;
	margin-right: 15px;
}
form.zp-form.zp-editable .resizablefield{
	padding-left:  15px;
	padding-right: 15px;
	box-sizing: border-box;
	float: left;
	/*clear: left;*/
}
form.zp-form.zp-editable .resizablefield.fieldinnewline{
	clear: both;
}
/* #formQuick is used in ProjectTemplates e.g. Ferienhaus and we don't want 100% width fields there */
form.zp-form.zp-editable input.typetext,
form.zp-form.zp-editable input[type="file"],
form.zp-form.zp-editable textarea,
form.zp-form.zp-editable select,
form.zp-form.zp-editable radio,
form.zp-form.zp-editable checkbox{
	width: 100%;
}

form.zp-form.zp-editable .formbuttons{
	margin-left: 15px;
	margin-right: 15px;
	clear: both;
	overflow: hidden;
	padding-bottom: 6px;
}

/* *** END Form-Editor *** */
