/*!
* Layout: Locus Responsive
* $Id: styles.less 80329 2019-09-30 14:57:07Z devops_admin $
* Copyright Zeta Software GmbH
*/

/* Reset */

/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L16 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L24 */
tr,
th,
td {
  vertical-align: top;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L26 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L30 */
ol,
ul {
  list-style: none;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L34 */
b,
strong {
  font-weight: bold;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L38 */
blockquote,
q {
  quotes: none;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L42 */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L47 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L52 */
body {
  -webkit-text-size-adjust: none;
}
/* Box Model */

/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L58 */
*,
*:before,
*:after {
  box-sizing: border-box;
}
/* Containers */

/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L64 */
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
@media screen and (max-width: 1240px) {
  /* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L76 */
  .container {
    width: 95% !important;
    max-width: calc(100% - 30px);
  }
}
@media screen and (max-width: 480px) {
  /* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L85 */
  .container {
    width: 100% !important;
  }
}
/* Basic */

/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L93 */
html {
  font-size: 120%;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L97 */
body {
  background-color: #EDEDED;
  color: #333333;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.5;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L108 */
a,
a:hover {
  text-decoration: none;
  color: inherit;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L113 */
em,
i {
  font-style: italic;
}
/* hyphenation switch */

/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L118 */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-limit-lines: 2;
  -moz-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-lines: 2;
  hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-chars: auto 3;
  -moz-hyphenate-limit-chars: auto 3;
  -ms-hyphenate-limit-chars: auto 3;
  hyphenate-limit-chars: auto 3;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L122 */
p {
  margin: 0 0 0.5em 0;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L126 */
h1 {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2.5em;
  color: #333333;
  font-weight: lighter;
  margin-top: 0;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L136 */
h2 {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2em;
  color: #333333;
  font-weight: lighter;
  margin-top: 0;
  margin-bottom: 0.5em;
  text-transform: none;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L146 */
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  color: #333333;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0.5em;
  text-transform: none;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L155 */
.articlearea > h1:last-child,
.articlearea > h2:last-child,
.articlearea > h3:last-child,
.articlearea > h4:last-child,
.articlearea > h5:last-child,
.articlearea > h6:last-child,
.articlearea > p:last-child {
  margin: 0;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L166 */
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: inherit;
  border-bottom: 0;
  text-decoration: none;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L173 */
sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L179 */
sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L185 */
hr {
  border: 0;
  border-bottom: solid 1px #313032;
  margin: 2em 0;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L191 */
blockquote {
  border-left: solid 4px #313032;
  font-style: italic;
  margin: 0 0 0.5em 0;
  padding: 0.5em 0 0.5em 2em;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L198 */
code {
  background: rgba(207, 201, 214, 0.035);
  border-radius: 8px;
  border: solid 1px #313032;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0.25em;
  padding: 0.25em 0.65em;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L207 */
pre {
  -webkit-overflow-scrolling: touch;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0 0.5em 0;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L213 */
pre code {
  display: block;
  line-height: 1.75em;
  padding: 1em 1.5em;
  overflow-x: auto;
}
/* Form */

/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L224 */
input.typetext,
input[type="text"],
input[type="password"],
input[type="email"],
input#zpsearchfield,
select,
textarea {
  border-radius: 8px;
}
/* Lists */

/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L237 */
ol {
  list-style: decimal;
  margin: 0 0 0.5em 0;
  padding-left: 1.25em;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L242 */
ol li {
  padding-left: 0.25em;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L246 */
ul:not(.slides) {
  list-style: square;
  margin: 0 0 0.5em 0;
  padding-left: 1em;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L251 */
ul:not(.slides) li {
  padding-left: 0.5em;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L254 */
dl {
  margin: 0 0 0.5em 0;
}
/* banner teaser */

/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L260 */
#banner {
  margin-top: 3em;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: #333333;
  line-height: 1.5;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L268 */
#banner p {
  margin: 0 0 0.5em 0;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L271 */
#banner a:not(.fancybox) {
  color: #333333;
  border-bottom: dotted 1px;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L277 */
#banner a:not(.fancybox):hover {
  color: #0082D7;
  border-bottom: dotted 1px;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L285 */
#banner h1,
#banner h2,
#banner h3,
#banner h4,
#banner h5,
#banner h6 {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2em;
  color: #333333;
  font-weight: lighter;
}
/* Main */

/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L295 */
.main.style1 {
  overflow: hidden;
  padding-left: calc(3em - 15px);
  padding-right: calc(3em - 15px);
  text-align: left;
}
/* responsive images */

/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L303 */
img {
  max-width: 100%;
  height: auto;
}
/*
#mobilenavtoggle{
	position: absolute;
	top: 10px;
	bottom: auto;
	left: auto;
	right: 15px;
	
	display: none;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	color: #333333;
	font-size: 15px;
	text-align: center;
	//box-shadow: 0px 0px 2px #333333;
	z-index: 11;
	padding: 0.5em 1em;
}
#mobilenavtoggle:hover {
	color: #333333;
}
*/

/* Wrapper */

/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L333 */
#wrapper {
  border-radius: 8px;
  margin-bottom: 3em;
  margin-top: calc(2em - 23px);
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L338 */
.nologo #wrapper,
body.plain #wrapper {
  margin-top: 2em;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L343 */
#wrapper > .main {
  padding: 5em 3em 3em 3em;
}
/* Logo */

/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L348 */
#logo {
  text-align: center;
  position: relative;
  z-index: 2;
  top: 2em;
  height: 46px;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L355 */
#logo a {
  display: inline-block;
  text-decoration: none;
  border: none;
  margin: 0;
  padding: 0;
  line-height: 0;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L362 */
#logo a img {
  width: 172px;
  max-width: 95%;
  height: auto;
}
/* Header */

/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L375 */
#header {
  background-color: rgba(230, 228, 25, 0.33);
  border-radius: 8px 8px 0 0;
  border-top: 0 !important;
  position: relative;
  text-align: center;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L382 */
#header .topline {
  padding: 4em 3em;
  padding-top: calc(4em + 23px);
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L385 */
#header .topline #webtext {
  letter-spacing: 0.1em;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L388 */
#header .topline h1,
#header .topline #webname {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2.5em;
  color: #333333;
  font-weight: lighter;
  font-style: normal;
  text-transform: uppercase;
  line-height: 1.5em;
  margin: 0;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L397 */
#header .topline h1 a,
#header .topline #webname a {
  text-decoration: none;
  border: none;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L402 */
#header .topline p,
#header .topline #slogan {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.35em;
  color: #333333;
  font-weight: lighter;
  font-style: normal;
  text-transform: uppercase;
  border-top: solid 1px rgba(238, 236, 94, 0.33);
  display: inline-block;
  line-height: 2em;
  margin: 0.7em 0 0 0;
  min-width: 50%;
  padding: 0.35em 0 0 0;
  position: relative;
  top: -0.5em;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L419 */
#header .topline.empty {
  padding: 0;
  min-height: 46px;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L425 */
#header #nav {
  -webkit-transition: max-height 300ms ease-in-out;
  transition: max-height 300ms ease-in-out;
  border-top: solid 1px rgba(238, 236, 94, 0.33);
  max-height: 3.55em;
  max-height: calc(3.5em + 1px);
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L436 */
#header #nav > ul li.overflownonly {
  display: none;
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  background-color: rgba(230, 228, 25, 0.33);
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L444 */
#header #nav > ul li.overflownonly:before {
  content: "";
  position: absolute;
  top: 0;
  left: -26px;
  width: 25px;
  height: 100%;
  background-color: rgba(230, 228, 25, 0);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(230, 228, 25, 0)), to(rgba(230, 228, 25, 0.33)));
  background-image: -webkit-linear-gradient(left, rgba(230, 228, 25, 0), rgba(230, 228, 25, 0.33));
  background-image: linear-gradient(to right, rgba(230, 228, 25, 0), rgba(230, 228, 25, 0.33));
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L457 */
#header #nav > ul li.overflownonly.overflown {
  display: inline-block;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L461 */
#header #nav > ul {
  max-height: 3.5em;
  position: relative;
  margin-bottom: 0;
  padding: 0;
  word-spacing: -4px;
  background-color: transparent;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L469 */
#header #nav > ul > li {
  word-spacing: normal;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L474 */
#header #nav > ul li {
  border-left: solid 1px rgba(238, 236, 94, 0.33);
  display: inline-block;
  line-height: 3.5em;
  min-width: 12.5%;
  padding: 0;
  position: relative;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L482 */
#header #nav > ul li a {
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border: 0;
  color: #333333;
  display: block;
  letter-spacing: 0.25em;
  padding: 0 2em;
  font-size: 0.8em;
  text-decoration: none;
  text-indent: 0.125em;
  text-transform: uppercase;
  background-color: rgba(230, 228, 25, 0.33);
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L495 */
#header #nav > ul li a.active {
  background-color: rgba(0, 0, 0, 0.1);
  color: #333333;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L501 */
#header #nav > ul li:first-child {
  border-left: 0;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L505 */
#header #nav > ul ul {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  z-index: 5;
  margin: 0;
  padding: 0;
  background-color: transparent;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L515 */
#header #nav > ul ul ul {
  top: 0;
  left: 100%;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L521 */
#header #nav li.haschilds > a:after,
#header #nav .dropdown-menu li.haschilds > a:after {
  content: '';
  box-sizing: content-box;
  position: absolute;
  z-index: 2;
  top: 50%;
  margin-top: -0.3em;
  right: 12px;
  height: 0.5em;
  width: 0.5em;
  border-color: inherit;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-style: solid;
  border-width: 1px 1px 0 0;
  display: block;
  -webkit-transition: transform 200ms ease;
  transition: transform 200ms ease;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-transform-origin: 50% 40%;
  transform-origin: 50% 40%;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L543 */
#header #nav li.haschilds.clicked > a:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L546 */
#header #nav > ul > li.haschilds > a:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L549 */
#header #nav > ul > li.haschilds.clicked > a:after {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L554 */
#header #nav ul ul li {
  display: block;
  border: 0;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L558 */
#header #nav ul ul li a {
  text-align: left;
  letter-spacing: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L568 */
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L569 */
#header #nav:not(.on) li.overflowing {
  visibility: hidden;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L576 */
#header #nav.on {
  border-bottom: solid 1px rgba(238, 236, 94, 0.33);
  max-height: none;
  width: 100vw;
  max-width: 100%;
  text-align: left;
  overflow-y: hidden;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L588 */
#header #nav.on ul {
  max-height: none;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L591 */
#header #nav.on ul ul {
  margin-left: 1em;
  position: static;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L598 */
#header #nav.on ul li {
  display: block;
  border: 0;
  background-color: rgba(230, 228, 25, 0.33);
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L603 */
#header #nav.on ul li.open > ul {
  display: block;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L607 */
#header #nav.on ul li > a:not(#mobilenavtoggle) {
  line-height: 2.8em;
  letter-spacing: normal;
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L615 */
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L619 */
#header #nav.on ul li.haschilds > a {
  padding-right: 3.5em;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L623 */
#header #nav.on ul li.haschilds > a:after {
  margin-top: -0.25em;
  right: 15px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L629 */
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L631 */
#header #nav.on ul li.haschilds.open > a:after,
#header #nav.on ul li.haschilds.clicked > a:after {
  -webkit-transition: unset;
  transition: unset;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L640 */
#header #nav.on > ul {
  max-height: none;
  padding-top: 3.5em;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L647 */
#header #nav.on > ul li.overflownonly.overflown,
#header #nav.on > ul li.overflownonly.overflown a {
  border-top: 0;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L651 */
#header #nav.on > ul li.overflownonly:before {
  content: none;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L654 */
#header #nav.on > ul > li {
  border-top: solid 1px rgba(238, 236, 94, 0.33);
}
/* only define hover styles for the desktop menu on non-touch devices */

/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L662 */
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L663 */
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L664 */
.notouch #header #nav > ul li a:hover,
.notouch #header #nav > ul li a.active:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: #333333;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L669 */
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L670 */
.notouch #header #nav:not(.on) li.haschilds:not(.closed):hover > a:after,
.notouch #header #nav:not(.on) .dropdown-menu li.haschilds:not(.closed):hover > a:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L674 */
.notouch #header #nav:not(.on) > ul > li.haschilds:not(.closed):hover > a:after,
.notouch #header #nav:not(.on) .dropdown-menu li.haschilds:not(.closed):hover > a:after {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L679 */
.notouch #header #nav:not(.on) li:hover > ul {
  display: block;
}
/* Kopfgrafik */

/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L687 */
#slider {
  background-color: #2a2b2e;
  background-image: url("../assets/stock-images/banner.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 0 !important;
  padding: 0;
  /*
	padding: 5em 3em;
	padding-left: ~"calc(3em + 15px)";
	padding-right: ~"calc(3em + 15px)";
	*/

}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L703 */
#slider #headerslider {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: #FAFAFA;
  line-height: 1.5;
  text-align: center;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L711 */
#slider h2,
#slider h3,
#slider h4,
#slider h5,
#slider h6 {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2em;
  font-weight: lighter;
  color: #FAFAFA;
  margin: 0 0 0.5em 0;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L719 */
#slider p {
  margin: 0 0 0.5em 0;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L723 */
#slider a {
  color: #333333;
  text-decoration: underline;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L727 */
#slider a:hover {
  color: #0082D7;
  text-decoration: underline;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L733 */
#slider > :last-child {
  margin-bottom: 0;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L737 */
#slider .flex-caption {
  margin-top: 1em;
  padding-left: calc(3em + 15px);
  padding-right: calc(3em + 15px);
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L744 */
#slider + div {
  border-top: 0 !important;
}
/* button */

/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L750 */
#content a.button,
input.button,
input[type="button"] {
  display: inline-block;
  margin: 0 10px 0.5em 0;
  padding: 0;
  font-size: 1em;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  line-height: normal;
  color: #333333 !important;
  background-color: transparent;
  background-image: none;
  border: 1px solid #333333;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L771 */
#content .zp-form input.button {
  color: #333333 !important;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L775 */
#content a.button:hover,
input.button:hover,
#content .zp-form input.button:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #333333 !important;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L781 */
#content a.button span,
input.button {
  display: block;
  margin: 0;
  padding: 8px 15px;
}
/* content */

/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L788 */
.ie .zparea.zpgrid > .zpContainer.styled.zpBreakout:last-child .zpRow:last-child,
.mozilla .zparea.zpgrid > .zpContainer.styled.zpBreakout:last-child .zpRow:last-child {
  overflow: hidden !important;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L793 */
#content {
  position: relative;
  background: #fafafa;
  border-top: solid 1px rgba(238, 236, 94, 0.33);
  /* breadcrumb*/

  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5;
  color: #333333;
  /* switch off borders below links only containing images */

}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L798 */
#content #breadcrumb {
  margin-bottom: 3em;
  padding: 0 15px;
  font-size: 1em;
  color: #333333;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L804 */
#content #breadcrumb a {
  color: #333333;
  border-bottom: 0;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L810 */
#content #breadcrumb a:hover {
  color: #0082D7;
  border-bottom: 0;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L818 */
#content #breadcrumb span.divider {
  color: #333333;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L828 */
#content .zparea.zpgrid > .zpContainer.styled.zpBreakout:last-child {
  margin-bottom: -3em;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L832 */
#content div.zpRow {
  margin-bottom: 2em;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L835 */
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L840 */
#content p {
  margin: 0 0 0.5em 0;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L844 */
#content a:not(.button):not(.fancybox) {
  -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  border-bottom: dotted 1px;
  color: #333333;
  text-decoration: none;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L852 */
#content a:not(.button):not(.fancybox):hover {
  border-bottom: dotted 1px;
  color: #0082D7;
  text-decoration: none;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L860 */
#content #content .zpwBild > a:not(.addspecificy),
#content #content .zpwBild > a:not(.addspecificy):hover {
  border-bottom: 0;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L866 */
#content.rounded {
  border-radius: 0 0 8px 8px;
}
/* Search */

/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L870 */
#search {
  border-radius: 0 0 8px 8px;
  background: #fafafa;
  border-top: solid 1px rgba(238, 236, 94, 0.33);
  box-sizing: border-box;
  padding: 2em 3em;
  padding-left: calc(3em + 15px);
  /* 15px to compensate zpgrid padding */
  padding-right: calc(3em + 15px);
  margin: 0 auto;
  overflow: hidden;
  width: 100% !important;
  max-width: none;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L883 */
#zpsearchform {
  max-width: 510px;
  position: relative;
  height: 44px;
  margin: 0 auto;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L889 */
#zpsearchform input {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L892 */
#zpsearchfield {
  margin: 0;
  padding: 6px 30px 6px 10px;
  width: 100%;
  box-sizing: border-box;
  height: 44px;
  font-size: 1em;
  line-height: 28px;
  color: #333333;
  background-color: #fafafa;
  border: 1px solid #333333;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-appearance: none;
  /* keeps Safari iOS from adding rounded corners etc. */
  border-radius: 0;
  /* keeps Safari iOS from adding rounded corners etc. */

}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L911 */
#zpsearchbutton {
  margin: 0;
  padding: 6px 0;
  border: 0;
  box-sizing: border-box;
  height: 44px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  -webkit-appearance: none;
  /* keeps Safari iOS from adding rounded corners etc. */
  border-radius: 0;
  /* keeps Safari iOS from adding rounded corners etc. */

}
/* Footer */

/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L928 */
#afterfooter {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: #333333;
  line-height: 1.5;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L934 */
#afterfooter p {
  margin: 0 0 0.5em 0;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L937 */
#afterfooter a {
  color: #333333;
  border-bottom: dotted 1px;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L943 */
#afterfooter a:hover {
  color: #0082D7;
  border-bottom: dotted 1px;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L951 */
#afterfooter h1,
#afterfooter h2,
#afterfooter h3,
#afterfooter h4,
#afterfooter h5,
#afterfooter h6 {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2em;
  color: #333333;
  font-weight: lighter;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L959 */
#footer {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: #333333;
  text-align: center;
  margin-bottom: 3em;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L966 */
#footer a {
  color: #333333;
  border-bottom: dotted 1px;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L972 */
#footer a:hover {
  color: #0082D7;
  border-bottom: dotted 1px;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L981 */
#footer #xmenu {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L985 */
#footer #xmenu a {
  margin-left: 10px;
  color: #333333;
  border-bottom: dotted 1px;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L992 */
#footer #xmenu a:first-child {
  margin-left: 0;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L995 */
#footer #xmenu a:hover {
  color: #0082D7;
  border-bottom: dotted 1px;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L1003 */
.zpSO-OnlineShop-table th,
.zpSO-OnlineShop-table td {
  padding: 8px 10px;
}
/* XLarge */

@media screen and (max-width: 1680px) {
  /* Basic */
  
  /* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L1014 */
  html {
    font-size: 110%;
  }
}
/* Large */

@media screen and (max-width: 1366px) {
  /* Basic */
  
  /* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L1026 */
  html {
    font-size: 100%;
  }
  /* Header */
  
  /* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L1032 */
  #header > .topline {
    padding: 4em 0;
    padding-top: calc(4em + 23px);
  }
}
/* Non Mobile Nav (Desktop) Only */

@media screen and (min-width: 981px) {
  /* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L1041 */
  #header #nav:not(.on) > ul li.active a:not(:hover) {
    background-color: rgba(0, 0, 0, 0.1);
    color: #333333;
  }
}
/* Medium */

@media screen and (max-width: 980px) {
  /* Wrapper */
  
  /* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L1052 */
  #wrapper {
    margin-bottom: 2em;
  }
  /* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L1055 */
  body.plain #wrapper {
    margin-top: 3em;
  }
  /* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L1059 */
  #wrapper > .main {
    padding: 5em 3em 3em 3em;
  }
  /* Header */
  
  /* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L1065 */
  #header:before,
  #header:after {
    display: none;
  }
  /* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L1069 */
  #header > .topline {
    padding: 3em 3em;
    padding-top: calc(3em + 23px);
  }
  /* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L1074 */
  #header > .topline h1 {
    font-size: 2em;
  }
  /* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L1078 */
  #header > .topline p {
    font-size: 1.35em;
  }
  /* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L1082 */
  #header.alt > .topline {
    padding: 3em 3em 2.5em 3em;
  }
}
/* Small */

@media screen and (max-width: 736px) {
  /* Wrapper */
  
  /* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L1093 */
  #wrapper {
    margin-top: calc(1em - 23px);
  }
  /* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L1096 */
  .nologo #wrapper,
  body.plain #wrapper {
    margin-top: 1em;
  }
  /* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L1101 */
  #wrapper > .main {
    padding: 3em 3em 1em 3em;
  }
  /* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L1105 */
  #logo {
    top: 1em;
  }
  /* Header */
  
  /* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L1111 */
  #header > .topline {
    padding: 3.5em 3em 2em 3em;
    padding: 3.5em 3em;
    padding-top: calc(3.5em + 23px);
  }
  /* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L1117 */
  #header > .topline h1 {
    font-size: 1.5em;
  }
  /* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L1121 */
  #header > .topline p {
    font-size: 1.1em;
    margin: 1em 0 0 0;
    padding: 0.5em 0 0 0;
    top: -0.25em;
  }
}
/* XSmall */

@media screen and (max-width: 480px) {
  /* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L1132 */
  #banner,
  #afterfooter,
  #footer {
    padding: 0 1.5em;
  }
  /* Wrapper */
  
  /* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L1140 */
  #wrapper {
    border-radius: 0;
  }
  /* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L1143 */
  .nologo #wrapper,
  body.plain #wrapper {
    margin-top: 0;
  }
  /* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L1148 */
  #wrapper > .main {
    padding: 3em 1.5em 1em 1.5em;
  }
  /* Header */
  
  /* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L1154 */
  #header {
    border-radius: 0;
  }
  /* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L1158 */
  #header > .topline {
    padding: 4.5em 1.5em;
    padding-top: calc(4.5em + 23px);
  }
  /* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L1163 */
  #search {
    padding-left: calc(1.5em + 15px);
    /* 15px to compensate zpgrid padding */
    padding-right: calc(1.5em + 15px);
    /* 15px to compensate zpgrid padding */
  
  }
}
/* ZP Specific additions */

/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L1170 */
.flexslider {
  box-shadow: none;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L1173 */
.flex-direction-nav {
  list-style: none !important;
  margin: 0 !important;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L1177 */
.flex-direction-nav a {
  border: 0;
}
@media screen and (min-width: 1280px) {
  /* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L1181 */
  .flexslider .flex-prev,
  .flexslider .prev,
  .flexslider .flex-next,
  .flexslider .next {
    opacity: 1;
  }
  /* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L1188 */
  .flexslider .flex-prev,
  .flexslider .prev,
  .flexslider:hover .flex-prev,
  .flexslider:hover .prev {
    left: -35px !important;
  }
  /* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L1194 */
  .flexslider .flex-next,
  .flexslider .next,
  .flexslider:hover .flex-next,
  .flexslider:hover .next {
    right: -35px !important;
  }
}
@media screen and (max-width: 1280px) {
  /* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L1203 */
  .flexslider .flex-prev,
  .flexslider .prev,
  .flexslider:hover .flex-prev,
  .flexslider:hover .prev {
    left: 12px !important;
  }
  /* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L1209 */
  .flexslider .flex-next,
  .flexslider .next,
  .flexslider:hover .flex-next,
  .flexslider:hover .next {
    right: 12px !important;
  }
}
@media screen and (max-width: 640px) {
  /* hide next/prev buttons on small screens */
  
  /* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L1218 */
  .flexslider .flex-prev,
  .flexslider .prev,
  .flexslider .flex-next,
  .flexslider .next,
  .flexslider:hover .flex-prev,
  .flexslider:hover .prev,
  .flexslider:hover .flex-next,
  .flexslider:hover .next {
    opacity: 0 !important;
  }
}
/* END ZP Specific additions */

/* ZP 13 additions */

/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L1234 */
.zpContainer.zpBreakout {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L1240 */
.zpColumn .zpBreakout {
  margin-left: -30px;
  margin-right: -30px;
  padding-left: 0;
  padding-right: 0;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L1247 */
#content:not(.fullwidth) .zpContainer.zpBreakout {
  margin-left: -3em;
  margin-right: -3em;
  padding-left: 3em;
  padding-right: 3em;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L1253 */
#content:not(.fullwidth) .zpColumn .zpBreakout {
  margin-left: calc(-3em - 15px);
  margin-right: calc(-3em - 15px);
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L1258 */
#banner .zpgrid,
#afterfooter .zpgrid {
  margin-left: -15px;
  margin-right: -15px;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L1262 */
#banner .zpgrid .zpContainer.styled,
#afterfooter .zpgrid .zpContainer.styled {
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 0;
  padding-right: 0;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L1270 */
#sidebarright .zpColumn {
  padding: 0;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L1272 */
body.plain .zpgrid,
body.plain .zpgrid #grid {
  max-width: none;
}
/* C:\Users\silve\AppData\Local\Zeta Producer 15\packaging\layouts\Locus Responsive\assets\styles.less:L1274 */
body.plain #mainbar {
  width: 100%;
}
