/*! $Id: zpsearch.css 68509 2018-11-05 12:12:29Z sseiz $ */

.SO-SiteSearchResult{
	margin-bottom: 1em;
}
.zpwSuche p.restitle{
	opacity: 0.75; 
	margin-bottom: 1em !important;
}
.SO-SiteSearchResult h3{
	margin: 0;
}
.zpwSuche .rescount{
	opacity: 0.75; 
}

.SO-SiteSearchForm.autohidelabels input.button{
	margin-top: 20px;
}
.SO-SiteSearchForm:not(.autohidelabels) label{
	font-family: inherit;
	font-size: inherit;
	padding: 3px 10px 3px 0;
}
.SO-SiteSearchForm.zp-form.zp14.autohidelabels .resizablefield label:not(.default){
	left: 15px;
}

.SO-SiteSearchForm input.typetext{
	font-family: inherit;
	font-size: inherit;
	color: #333333;
	background: #ffffff;
	padding: 6px 8px;
	border: 1px solid #9A9A9A;
	border: 1px solid rgba(0,0,0,0.4);
	max-width: 100%;
	
	box-sizing: border-box;
	height: auto;
}
.SO-SiteSearchForm.autohidelabels .resizablefield.c12 input.typetext{
	width: 560px;
}